body {
font-family: Arial;
background: linear-gradient(135deg,#667eea,#764ba2);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card {
background:white;
padding:30px;
border-radius:10px;
width:350px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

input, button {
width:100%;
padding:10px;
margin:10px 0;
}
